<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal">PyBenin Battle</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="#">Reviews</a>
                <a class="p-2 text-dark" href="https://github.com/PythonBenin/python-frameworks-battle" target="_blank">Source code</a>
            </nav>
            <a class="btn btn-outline-primary" href="write-review.html">Write a review</a>
        </div>

        <div class="container">
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <div class="d-block">
                                    <a href="#">
                                        <img src="http://via.placeholder.com/50x50/579626/fff?text=J" alt="" style="border-radius: 5px">
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div><a href="#">Mon salaire ne venait jamais à temps!</a></div>
                                <div class="small text-muted">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit...
                                </div>
                                <p class="small">
                                    <span class="badge badge-primary">
                                        Acme
                                    </span>
                                </p>
                            </td>
                            <td>
                                <div class="small text-muted">Junior Gantin</div>
                                <div>October 20 - 01:06:22</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="d-block">
                                    <a href="#">
                                        <img src="http://via.placeholder.com/50x50/579626/fff?text=J" alt="" style="border-radius: 5px">
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div><a href="#">Mon salaire ne venait jamais à temps!</a></div>
                                <div class="small text-muted">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit...
                                </div>
                                <p class="small">
                                    <span class="badge badge-primary">
                                        Acme
                                    </span>
                                </p>
                            </td>
                            <td>
                                <div class="small text-muted">Junior Gantin</div>
                                <div>October 20 - 01:06:22</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="d-block">
                                    <a href="#">
                                        <img src="http://via.placeholder.com/50x50/579626/fff?text=J" alt="" style="border-radius: 5px">
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div><a href="#">Mon salaire ne venait jamais à temps!</a></div>
                                <div class="small text-muted">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit...
                                </div>
                                <p class="small">
                                    <span class="badge badge-primary">
                                        Acme
                                    </span>
                                </p>
                            </td>
                            <td>
                                <div class="small text-muted">Junior Gantin</div>
                                <div>October 20 - 01:06:22</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="d-block">
                                    <a href="#">
                                        <img src="http://via.placeholder.com/50x50/579626/fff?text=J" alt="" style="border-radius: 5px">
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div><a href="#">Mon salaire ne venait jamais à temps!</a></div>
                                <div class="small text-muted">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit...
                                </div>
                                <p class="small">
                                    <span class="badge badge-primary">
                                        Acme
                                    </span>
                                </p>
                            </td>
                            <td>
                                <div class="small text-muted">Junior Gantin</div>
                                <div>October 20 - 01:06:22</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>